<div class="container">
    <h4>Sexto A</h4>
    <div class="galeria">
        <img src="../images/sextoa (1).jpg" alt="">
        <img src="../images/sextoa (2).jpg" alt="">
        <img src="../images/sextoa (3).jpg" alt="">
        <img src="../images/sextoa (5).jpg" alt="">
        <img src="../images/sextoa (6).jpg" alt="">
        <img src="../images/sextoa (7).jpg" alt="">
        <img src="../images/sextoa (8).jpg" alt="">
        <img src="../images/sextoa (10).jpg" alt="">
        <img src="../images/sextoa (11).jpg" alt="">
        <img src="../images/sextoa (12).jpg" alt="">
        <img src="../images/sextoa (13).jpg" alt="">
        <img src="../images/sextoa (14).jpg" alt="">
        <img src="../images/sextoa (15).jpg" alt="">
        <img src="../images/sextoa (16).jpg" alt="">
        <img src="../images/sextoa (17).jpg" alt="">
        <img src="../images/sextoa (18).jpg" alt="">
        <img src="../images/sextoa (19).jpg" alt="">
        <img src="../images/sextoa (20).jpg" alt="">
        <img src="../images/sextoa (22).jpg" alt="">
        <img src="../images/sextoa (23).jpg" alt="">
    </div>
    <div class="galeria sola">
        <img src="../images/sextoa (4).jpg" alt="">
        <img src="../images/sextoa (9).jpg" alt="">
        <img src="../images/sextoa (21).jpg" alt="">
    </div>
    <h4>Sexto B</h4>
    <div class="galeria ultima">
        <img src="../images/sextob (1).jpg" alt="">
        <img src="../images/sextob (2).jpg" alt="">
        <img src="../images/sextob (3).jpg" alt="">
        <img src="../images/sextob (4).jpg" alt="">
        <img src="../images/sextob (5).jpg" alt="">
        <img src="../images/sextob (7).jpg" alt="">
        <img src="../images/sextob (8).jpg" alt="">
        <img src="../images/sextob (10).jpg" alt="">
        <img src="../images/sextob (11).jpg" alt="">
        <img src="../images/sextob (12).jpg" alt="">
        <img src="../images/sextob (13).jpg" alt="">
        <img src="../images/sextob (14).jpg" alt="">
        <img src="../images/sextob (15).jpg" alt="">
        <img src="../images/sextob (16).jpg" alt="">
        <img src="../images/sextob (17).jpg" alt="">
        <img src="../images/sextob (18).jpg" alt="">
        <img src="../images/sextob (19).jpg" alt="">
        <img src="../images/sextob (20).jpg" alt="">
        <img src="../images/sextob (6).jpg" alt="">
        <img src="../images/sextob (9).jpg" alt="">
    </div>
</div>