.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

    @include mobile{
        grid-template-columns: 1fr 1fr;
    }
}

.sola {
    margin-top: 10px;
}

.ultima{
    margin-bottom: 25px;
}